<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <!-- enableOnBackInvokedCallback=false：返回键只走 ShellActivity.dispatchKeyEvent 这一处，
         不让 targetSdk 36 的预测性返回（OnBackInvokedDispatcher）再处理一次。 -->
    <application
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:enableOnBackInvokedCallback="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Shell">

        <activity
            android:name=".ShellActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|density|fontScale|layoutDirection|locale"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="${screenOrientation}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
